body{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/363/819/709/cute-mickey-mouse-minnie-mouse-walt-disney-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}    
.letra{
    color: whitesmoke;
    border-radius: 25px;
    font-size: 35px;
    margin: 0;
    text-shadow: 0 0 10px blue, 0 0 25px blue, 0 0 30px blue, 0 0 40px blue;
}
.unete{
    color: white;
    border-radius: 25px;
    font-size: 35px;
    margin: 0;
    text-shadow: 0 0 25px rgb(20, 229, 236), 0 0 35px cyan, 0 0 45px rgb(34, 230, 236), 0 0 50px cyan;
}
.unete:hover{
    background-color: rgba(0, 0, 255, 0.815);
    cursor: pointer;
}
.contenido{
    text-align: center;
    margin-top:450px ;
}
.footer{
    text-align: center;
    color: white;
    text-shadow: 0 0 10px blue, 0 0 25px blue, 0 0 30px blue, 0 0 40px blue;
}
.nombre{ 
    text-align: center;
    margin-top: 15px;
    color: cornsilk;
    text-shadow: 0 0 10px crimson, 0 0 25px crimson, 0 0 30px crimson, 0 0 40px crimson;
}
